<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WebSection" type="Cdts.Web.WebConfigSection,Cdts.Web,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </configSections>
  <appSettings>
  </appSettings>
  <WebSection>
    <WebCollection>
      <add Name="Tudou"
           Url="http://www.tudou.com"
           LoginUrl="http://login.tudou.com/login.do?act=login&amp;noreg=ok&amp;service=http://www.tudou.com/" 
           LoginData="username={0}&amp;password={1}"
           LoginReferer="http://login.tudou.com/login.do?noreg=ok"
           LoginErrorRegex="login_err"/>
      <add Name="Youku"
          Url="http://www.youku.com"
          LoginUrl="http://www.youku.com/index_login/"
          LoginData="username={0}&amp;password={1}"
          LoginReferer="http://www.youku.com/index_login/"
          LoginSuccessRegex="1"/>
    </WebCollection>
  </WebSection>
</configuration>