<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FrameworkContainer" connectionString="metadata=res://*/Data.EntityFramework.FrameworkData.csdl|res://*/Data.EntityFramework.FrameworkData.ssdl|res://*/Data.EntityFramework.FrameworkData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=125.71.211.94,14333;Initial Catalog=WD;Persist Security Info=True;User ID=wd;Password=weidid2011;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <add key="RegisterValidationExpireDay" value="5"/>

  <add key="SmtpServer" value="smtp.gmail.com"/>
  <add key="SmtpPort" value="25"/>
  <add key="SmtpSsl" value="true"/>
  <add key="SmtpUser" value="cs@tym100.com"/>
  <add key="SmtpPassword" value="singl11"/>
</configuration>